# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# class files 
bin/

# eclipse project file
.settings/
.classpath
.project

# OS
.DS_Store

# Misc
*.swp
.metadata
release.properties
