# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar1
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# class files 
bin/
target/

# eclipse project file
.settings/
.classpath
.project

# OS
.DS_Store

# Misc
*.swp
.metadata
release.properties
.classpath
.project
.factorypath
/.idea/.gitignore
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
